<section style="height: 66vh;" class="fill">
  <app-parallax-background bgImageUrl="assets/patio.jpg">
    <h2>Amenities!</h2>
  </app-parallax-background>
</section>
<section class="columns">
  <app-parallaxer>
    <app-parallax-layer [parallaxDistance]="1">
      <h2>Hello.</h2>
    </app-parallax-layer>
    <app-parallax-layer [parallaxDistance]="1.2">
      <app-fitted-image imageUrl="assets/patio.jpg"></app-fitted-image>
    </app-parallax-layer>
  </app-parallaxer>
  <div>
    <h1>DEF</h1>
    <p>Lorem ipsum</p>
    <p>Dolor sit amet.</p>
  </div>
</section>
<section style="height: 66vh;" class="fill">
  <app-parallax-background bgImageUrl="assets/patio.jpg">
    <h2>Amenities!</h2>
  </app-parallax-background>
</section>
