$edgeMargin: 45px;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: 'Raleway', sans-serif;
  line-height: 1.6em;
}

body {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

p {
  font-size: 19px;
}
