@import "../../style-defs.scss";

:host {
  display: block;

  #footerFlex {
    display: flex;
    justify-content: stretch;
    background: rgb(160, 160, 160);

    > * {
      flex-grow: 1;
      padding: $innerPadding;
    }
  }
}