<app-block background="url('assets/house.jpg')" [parallaxDistance]="2">
  <div style="height: 70vh">
    <h1>Star Gaze</h1>
  </div>
</app-block>
<app-block-side-title background="white" [shrink]="false" title="Welcome to OBX Star Gaze">
  <p>
    Prepare to be blown away by the awesome sound, ocean, and sky views at our beautiful Outer Banks home. Experience the best of both worlds in a comfortable, well-appointed sound-front home that is only a 3-minute walk to a beautiful, uncrowded ocean beach.
  </p>
</app-block-side-title>
