<app-block backgroundImage="url('assets/sound.jpg')" [parallaxDistance]="2">
  <div id="logoContainer">
    <div id="logo">
      &nbsp;
    </div>
  </div>
</app-block>
<app-block-side-title background="white" [shrink]="true" title="Welcome to OBX Star Gaze">
  <p>
    Prepare to be blown away by the awesome sound, ocean, and sky views at our beautiful Outer Banks home. Experience the best of both worlds in a comfortable, well-appointed sound-front home that is only a 3-minute walk to a beautiful, uncrowded ocean beach.
  </p>
</app-block-side-title>
<app-block backgroundImage="url('assets/relax.jpg')" [parallaxDistance]="2"></app-block>
<app-block-side-title background="white" [shrink]="true" title="Relax on the Deck" [rightTitle]="true">
  <p>
    Feel the stress melt away as you relax in the soothing hot tub at sunset while enjoying panoramic sound-to-ocean views from the top level covered deck. <br />
  </p>
  <p>
    Unwind on a comfortable deck chair while gazing at the starry sky.
  </p>
</app-block-side-title>
<app-block backgroundImage="url('assets/deck.jpg')" [parallaxDistance]="2"></app-block>
<app-block-side-title background="white" [shrink]="true" title="blah">
  <p>
    Enjoy the roomy upper-level great room both day and night with vaulted ceilings, a living area with a gas fireplace, a kitchen area with a breakfast bar, a dining area with sound views, and a half bath. The living area is equipped with entertainment for all ages, such as movies, board games, puzzles, toys, an XBox, and books.
  </p>
  <p>
    The 2nd level has all of the bedrooms, each with water views and TV/DVD. Plus, the hammock on the shaded desk just outside is the perfect place for an afternoon nap. The washer and dryer are conveniently located on this level as well.
  </p>
  <p>
    The first floor features a covered carport, an enclosed outside shower with a dressing area, board storage, and a fish cleaning station. Around back, there is a private entrance to the sound that makes it safe and easy to kayak, stand-up paddleboard, etc.
  </p>
  <p>
    Whatever your reason for coming to OBX -- star gazing, sunbathing, windsurfing, kiteboarding, beach combing, fishing, crabbing, or maybe some of each -- it is the perfect vacation destination.
  </p>
</app-block-side-title>
<app-block backgroundImage="url('assets/deck.jpg')" [parallaxDistance]="2"></app-block>
