@import "../../style-defs.scss";

:host {
  display: flex;
  align-items: center;
  padding-left: $edgeMargin;
  padding-right: $edgeMargin;
  overflow: hidden;

  #logo {
    white-space: nowrap;
    font-size: 20pt;
  }

  #spacer {
    flex: 1;
    background-color: white;
  }

  a {
    color: white;
    margin: 10px;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    overflow: visible;
    font-size: 14pt;
    background: radial-gradient(rgba(0,0,0,0.2), transparent);

    &:hover {
      color: #FDB;
      transition: 0.5s ease-out;
    }

    &:active {
      color: #F80;
      transition: none;
    }
  }

  .linkspacer {
    flex-basis: 15px;
    flex-shrink: 1;
  }
}

@media screen and (max-width: 900px) {
  :host {
    #logo, #spacer {
      display: none;
    }

    flex-wrap: wrap;
    justify-content: space-around;
  }
}
