@import "../../styles.scss";

:host {
  display: flex;
  height: $navHeight;
  align-items: center;
  padding-left: #{4 * $unit};
  padding-right: #{4 * $unit};

  div {
    &#spacer {
      flex: 1;
    }

    &#links {
      padding-right: 10%;
      display: flex;


      a {
        &:hover {
          color: #FDB;
          transition: 0.5s ease-out;
        }

        &:active {
          color: #F80;
          transition: none;
        }

        color: white;
        margin: $unit;
        font-weight: bolder;
        text-decoration: none;
        text-align: center;
      }
    }

  }

}
