@import "../../style-defs.scss";

:host {
  display: flex;
  align-items: center;
  padding-left: $edgeMargin;
  padding-right: $edgeMargin;
  margin: 15px;
  overflow: hidden;

  #logo {
    white-space: nowrap;
  }

  #spacer {
    flex: 1;
    background-color: white;
  }

  a {
    color: white;
    margin: 0px;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    overflow: visible;

    &:hover {
      color: #FDB;
      transition: 0.5s ease-out;
    }

    &:active {
      color: #F80;
      transition: none;
    }
  }

  .linkspacer {
    flex-basis: 15px;
    flex-shrink: 1;
  }
}
