@import "../../../style-defs.scss";

@media not screen and (max-width: 600px) {
  #flexbox {
    display: flex;
    // Set with template: flex-direction: row | row-reverse;
    width: 100%;

    > div {
      display: flex;
      justify-content: stretch;
      align-items: center;
      overflow: hidden;

      > div {
        width: 100%;

        padding: $innerPadding;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  #flexbox {
    display: block;

    > div {
      width: 100%;

      > div {
        padding: $innerPadding / 4;
      }
    }
  }
}
